:root {
    --green: #a59132;
    --beige: #FDF8F0;
    --dark: #323232;
    --brown: #323232;
    --orange: #a59132;
}

.jumbotron {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 300px;
    position: relative;
    background-image: url("../../../IMG_4244.JPG");
    background-position: center;
    background-size: cover;
    color: var(--dark);
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: var(--green) solid 3px;
}

.header-box {
    background-color: var(--beige);
    opacity: 0.5;
}

.lead {
    margin-top: 15px;
    font-weight: 400 !important;
    font-size: medium !important;
    color: var(--brown);
    padding-left: 5px;
}

.container h1 {
    font-size: 50px;
    font-weight: 200;
    padding-left: 5px;
}

@media screen and (min-width: 1048px) {
    .jumbotron {
        height: 400px;
    }

    .container h1 {
        font-size: 60px;
    }

    .lead {
        font-size: large !important;
    }
}

@media screen and (min-width: 1150px) {
    .jumbotron {
        height: 500px;
    }

    .container h1 {
        font-size: 70px;
    }
}