:root {
    --green: #a59132;
    --beige: #fffbdb;
    --dark: #30362f;
    --brown: #625834;
    --orange: #da7422;
}

.jumbotron {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 300px;
    position: relative;
    background-image: url("../../../IMG_4244.JPG");
    background-position: center;
    background-size: cover;
    color: var(--dark);
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: var(--green) solid 3px;
}

.lead {
    margin-top: 15px;
    font-weight: 300 !important;
    font-size: medium !important;
    color: var(--beige);
    background-color: var(--brown);
    opacity: 0.7;
    padding-left: 5px;
}

.container h1 {
    font-size: 50px;
    font-weight: 400;
    background-color: var(--beige);
    opacity: 0.5;
    padding-left: 5px;
}

@media screen and (min-width: 1048px) {
    .jumbotron {
        height: 400px;
    }
    .container h1 {
        font-size: 60px;
    }    
    .lead {
        font-size: large !important;
    }
}

@media screen and (min-width: 1150px) {
    .jumbotron {
        height: 500px;
    }
    .container h1 {
        font-size: 70px;
    }    
}