:root {
    --green: #a59132;
    --beige: #fffbdb;
    --dark: #30362f;
    --brown: #625834;
    --orange: #da7422;
}

.nav-tabs {
    margin-top: -40px;
    height: 40px;
}

.nav-tabs .nav-link {
    color: var(--beige);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.nav-tabs .nav-link:hover {
    color: var(--green);
    border-radius: 0%;
}

.nav-tabs .nav-item .nav-link.active {
    border-radius: 0%;
    background-color: var(--brown);
    color: var(--beige);
    opacity: 0.8;
}