:root {
    --green: #a59132;
    --beige: #fffbdb;
    --dark: #30362f;
    --brown: #625834;
    --orange: #da7422;
}

.about-display { 
    background-color: var(--beige);
    opacity: 0.8;
    color: #30362f;
    align-items: center;
    width: auto;
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.about-text {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: large;
    font-weight: lighter;
}

@media screen and (min-width: 800px) {
    .about-img {
        max-width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .about-img {
        max-width: 500px;
        float: right;
        margin-top: 100px;
    }
}