:root {
    --green: #a59132;
    --beige: #fffbdb;
    --dark: #30362f;
    --brown: #625834;
    --orange: #da7422;
}

.about-display { 
    background-color: var(--beige);
    opacity: 0.8;
    color: #30362f;
    align-items: center;
    width: auto;
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.about-text {
    background-color: rgb(218, 116, 34, 0.5);
    padding: 10px;
}

.about-text:hover {
    background-color: var(--beige);
    font-size: larger;
}