:root {
    --green: #CD9C8A;
    --beige: #FFFFFF;
    --dark: #1D1D1D;
    --brown: #1D1D1D;
    --orange: #FF5100;
}

.about-display { 
    background-color: var(--beige);
    opacity: 0.8;
    color: #30362f;
    align-items: center;
    width: auto;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-img {
    background-color: var(--beige);
    width: 100%; 
    height: auto;
    object-fit: cover;
    opacity: 0.9;
}

.vertical-timeline-element--work {
    margin-top: 0% !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: normal;
}

.about-text {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: medium !important;
    font-weight: normal !important;
}

@media screen and (min-width: 800px) {
    .about-img {
        max-width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .about-img {
        max-width: 500px;
        max-height: 300px;
        float: right;
        margin-top: 100px;
    }
}