:root {
    --green: #a59132;
    --beige: #fffbdb;
    --dark: #30362f;
    --brown: #625834;
    --orange: #da7422;
}

.home-box { 
    background-color: var(--beige);
    opacity: 0.8;
    color: #30362f;
    align-items: center;
    width: auto;
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head-shot {
    display: block;
    margin: auto;
    padding: 30px;
}

br {
    height: 20px;
}

@media screen and (min-width: 1048px) {
    .head-shot {
        max-width: 500px;
        float: right;
    }
    .home-text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .prof-heading {
        padding-top: 20px;
    }
}