:root {
    --green: #a59132;
    --beige: #DDD0C8;
    --dark: #323232;
    --brown: #323232;
    --orange: #a59132;
}

.contact-container { 
    background-color: var(--beige);
    opacity: 0.8;
    color: var(--dark);
    align-items: center;
    width: auto;
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-link {
    color: var(--dark);
    text-decoration: none;
    font-size: larger;
}

.contact-link:hover {
    font-weight: bolder;
}

.git-hub {
    padding: 30px;
}

.submit-btn {
    background-color: #8f6d60;
    border: #8f6d60;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--beige);
    margin: 20px;
    font-size: larger;
}

.submit-btn:hover {
    font-weight: bolder;
    background-color: var(--brown);
}

.form-control {
    margin-bottom: 10px;
    border-radius: 0% !important;
    border: solid var(--green) 1px !important;
}

.mail-link {
    text-decoration: none;
    color: var(--dark);
    font-size: larger;
}

.mail-link:hover {
    font-weight: bolder;
}

.phone-number {
    
    padding-top: 20px;
}

.cv-header {
    padding-top: 30px;
}

.pdf-frame {
    margin-top: 40px;
    margin-bottom: 20px;
}


@media screen and (min-width: 1048px) {
    .pdf-frame {
        height: 700px;
    }
}
