.home-container { 
    background-color: var(--beige);
    opacity: 0.8;
    color: #30362f;
    align-items: center;
    width: auto;
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}