:root {
    --green: #CD9C8A;
    --beige: #FFFFFF;
    --dark: #1D1D1D;
    --brown: #1D1D1D;
    --orange: #FF5100;
}

.home-container { 
    background-color: var(--beige);
    opacity: 0.8;
    color: #30362f;
    align-items: center;
    width: auto;
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-container .card {
    background-color: #8f6d60;
    border-radius: 0%;
    margin-bottom: 6%;
    flex-direction: column;
}

.img-container {
    width: 100%;
    height: auto;
}


.center-fit {
    max-width: 90%;
    max-height: 90%;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    object-fit: contain;
    opacity: 0.9;
    margin-top: 5%;
    margin-bottom: 5%;
}

.home-container .expanded {
    min-height: 300px;
}

.content {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--beige);
    background-color: #8f6d60;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 5%;
    top: 45%;
    transform: translateY(-50%);
}

.project-description {
    color: #30362f;
    display: block;
    bottom: 0px;
    background-color: var(--beige);
    padding: 10px;
    height: auto;
}

.link-box {
    position:absolute;
    background-color: var(--green);
    width: 100%;
}

.link {
    color: var(--beige);
    text-decoration: none;
    margin-top: 15px;
    padding: 5px;
}

.link:hover {
    color: var(--orange);
    font-size: larger;
}

.project-name {
    font-size: 30px;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 0.75rem;
      }
}
