:root {
    --green: #a59132;
    --beige: #fffbdb;
    --dark: #30362f;
    --brown: #625834;
    --orange: #da7422;
}

.home-container { 
    background-color: var(--beige);
    opacity: 0.8;
    color: #30362f;
    align-items: center;
    width: auto;
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-container .card {
    background-color: var(--green);
    border-radius: 0%;
    margin-bottom: 6%;
    flex-direction: column;
    height: auto;
}

.img-container {
    width: 100%;
    height: auto;
}

.center-fit {
    max-width: 100%;
    max-height: 80vh; 
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.home-container .expanded {
    height: 300px;
}

.content {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--beige);
    background: linear-gradient(#a59132, 70%, transparent);
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 5%;
}

.project-description {
    color: #30362f;
    display: block;
    bottom: 0px;
    background-color: var(--beige);
    padding: 10px;
    height: auto;
}

.link {
    color: var(--beige);
    text-decoration: none;
    padding: 10px;
}

.link:hover {
    color: var(--orange);
    font-size: larger;
}

ul {
    list-style-type: none;
}

.project-name {
    font-size: 30px;
    padding-bottom: 5px;
}