.footer-heading {
    margin-top: 15px;
    margin-left: 6%;
    margin-right: 6%;
    font-weight: 300 !important;
    color: var(--beige);
    background-color: var(--green);
    opacity: 0.7;
    padding-left: 5px;
    z-index: -1;

}

.footer-copyright {
    margin-top: 15px;
    margin-left: 6%;
    margin-right: 6%;
    font-weight: 300 !important;
    font-size: medium !important;
    color: var(--beige);
    background-color: var(--green);
    opacity: 0.7;
    padding-left: 5px;
    z-index: -10;

}
